.container {
  margin: 0 auto;
  width: 600px; }

nav {
  width: 600px;
  border-top: 1px solid black;
  margin: 0 0 0 0;
  padding: 15px 0 0 0; }

.content {
  width: 585px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin: 15px 0 0 0;
  padding: 5px 15px 15px 0; }

.footer {
  width: 600px;
  margin: 0;
  border-top: 1px solid black;
  padding: 15px 0 0 0; }

ul {
  margin: 0;
  padding: 0;
  float: left; }

li {
  margin-right: 15px;
  float: left;
  list-style-type: none; }
